<?xml version='1.0'?>
<model>
  <name>Modified Clearpath Robotics Jackal</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>James Gloudemans</name>
    <email>james.gloudemans@gmail.com</email>
  </author>

  <description>
    Modified Clearpath Robotics Jackal
  </description>
</model>
